
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("https://wallpapercave.com/wp/wp6011793.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}


.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

header {
  background: #282c34;
  color: white;
  padding: 10px 0;
  text-align: center;
  margin-bottom: 20px;
}


form {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form div {
  margin-bottom: 15px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="date"],
form textarea {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #45a049;
}


.task-list {
  list-style-type: none;
  padding: 0;
}

.task-list li {
  background: white;
  margin: 10px 0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-list .task-title {
  font-size: 1.2em;
  font-weight: bold;
}

.task-list .task-actions button {
  background-color: #f44336;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
}

.task-list .task-actions button:hover {
  background-color: #e53935;
}

.task-list .task-actions .edit-button {
  background-color: #4CAF50;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s;
}

.task-list .task-actions .edit-button:hover {
  background-color: #45a049;
}


